body {
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    margin: 10px;
    flex-direction: column;
}

h2{
    margin-left: 10vw;
}

.teacher{
    width: 100vw;
    display: flex;
    justify-content: start;
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vh;
    gap: 10px;
}

.seating-chart {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.desk {
    width: 19vh; 
    height: 15vh; 
    background-color: #f0f0f0;
    text-align: center;
    line-height: 30px;
    border: 2px solid #ccc;
    font-size: 3vh;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    word-break: break-word;
}

.input-section {
    display: flex;
    flex-direction: column;
}

.input-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(18, 1fr);
    gap: 1px;
}

.student {
    padding: 6px;
    font-size: 14px;
    text-align: center;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
}

button:hover {
    cursor: cell;
}

#seat2,
#seat4,
#seat8,
#seat10,
#seat14,
#seat16,
#seat20,
#seat22,
#seat26,
#seat28,
#seat32,
#seat34
 {
    border-right: 40px solid gray;
}